.nowPlayingSlider {
	touch-action: none;
	cursor: pointer;
	display: flex;
	justify-content: stretch;
	align-items: center;
	min-height: 24px;

	transform: translateZ(0);

	& > .inner {
		flex: 1;
		width: 100%;

		height: 20px;

		background-color: #ffffff26;

		& > .thumb {
			width: 100%;
			height: 100%;
			background-color: white;
			opacity: 0.4;
			transform-origin: left center;
		}
	}

	.nowPlayingSlider > svg {
		opacity: 0.5;
	}
}
