[package]
name = "amll-player-core"
version = "0.1.0"
edition = "2024"

[features]
default = []
ffmpeg = ["ffmpeg-next"]

[dependencies]
anyhow = "^1.0"
concat-string = "^1.0"
cpal = "^0.16"
futures = "0.3"
md5 = "^0.8"
rb = "^0.4"
ringbuf = "^0.3"
rubato = "^0.15"
arrayvec = "^0.7"
segmap = "0.1"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
spectrum-analyzer = "1.5"
symphonia = { version = "^0.5", features = ["all-formats", "all-codecs"] }
tempfile = "^3.8"
tokio = { version = "^1", features = [
    "time",
    "macros",
    "sync",
    "rt",
    "rt-multi-thread",
] }
tracing = "0.1"
easer = "0.3.0"
dispatch = "0.2.0"
tauri = "2.6.2"
rodio = { version = "0.20", features = ["symphonia"] }
symphonia-core = "0.5.4"

[dependencies.ffmpeg-next]
optional = true
# version = "7.1.0"
git = "https://github.com/Steve-xmh/rust-ffmpeg.git"
branch = "patch-1"
default-features = false
features = ["codec", "format"]

[target.'cfg(target_os = "windows")'.dependencies]
tempfile = "^3"

[target.'cfg(target_os = "windows")'.dependencies.windows]
version = "0.58"
features = ["Media", "Media_Playback", "Storage_Streams", "Win32_System_WinRT"]

[target.'cfg(target_os = "linux")'.dependencies]
mpris-server = "0.9"

[target.'cfg(target_os = "macos")'.dependencies]
objc2 = "^0.6"
block2 = "^0.6"
once_cell = "^1.18"
[target.'cfg(target_os = "macos")'.dependencies.objc2-media-player]
version = "^0.3"
features = [
    "MPRemoteCommand",
    "MPRemoteCommandEvent",
    "MPRemoteCommandCenter",
    "MPNowPlayingInfoCenter",
    "MPMediaItem",
    "block2",
    "objc2-app-kit",
]
[target.'cfg(target_os = "macos")'.dependencies.objc2-app-kit]
version = "^0.3"
features = ["NSImage"]
[target.'cfg(target_os = "macos")'.dependencies.objc2-foundation]
version = "^0.3"

[dev-dependencies]
tracing-subscriber = "0.3"

[build-dependencies]
