.desc {
	white-space: pre-wrap;
}

.container {
	max-width: 800px;
	margin: auto;
	overflow: hidden;
	min-height: 0;
	height: 100%;
}


.tabButton {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 50px;
	overflow: hidden;
	padding: 0 1rem;
	transition: all 0.2s;

	img,
	svg {
		max-width: 100%;
		max-height: 100%;
		flex-shrink: 0;
		margin-right: 0.75rem;
	}

	@media screen and (max-width: 512px) {
		height: 30px;
		padding: 0 0.5rem;
	}
}